@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{ 
    padding: 0;
    margin: 0;
    background-color: orange;
}

#wrap{
    width: 100%;
    height: 500px;
    font-family: "Jost", sans-serif;
}

#btn-flex{
    display: flex;
}

#flex-block{
    display: flex;
    width: 100%;
}

#scoreboard{
    background-color: white;
    border-radius: 15px;
    width: 700px;
    height: 250px;
    margin: 200px 30px;
    border: 2px orangered solid;
}

#score, #score2{
    width: 100%;
    height: 60px;
    margin: 0 300px;
    font-size: 80px;
}

#plus1, #plus025, #plus05,
#plus1-2, #plus025-2, #plus05-2{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    font-size: 40px;
    margin: 20px;
    font-family: "Jost", sans-serif;
}

#add-score{
    width: 700px;
    height: 100px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px orangered solid;
    margin: 0 auto;
}

#add{
    width: 80px;
    height: 80px;
    background-color: orangered;
    color: white;
    border-radius: 50px;
    margin: 10px 300px;
    font-size: 70px;
}